#section0 {
  display: grid;
  background-size: cover;
  background-image: url(./assets/background-3045402_1920_flipped.png);
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: auto;
}

.s0primaryh1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5em;
  grid-row-start: 3;
  position: relative;
}

.s0whiteboxdiv {
  grid-row-start: 4;
  background-color: #fff;
  width: initial;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 15px #444;
}

.s0secondaryh1 {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  grid-row: 5;
  color: #333;
  padding-bottom: 4%;
}

.s0hr {
  border: 0;
  clear: both;
  display: block;
  width: 70%;
  background-color: #333;
  height: 1px;
  grid-row: 4;
}

#section1 {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh auto 10vh;
  gap: 1em;
}

.s1p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  grid-row: 2;
  grid-column: 2/3;
  padding-right: 2em;
  line-height: 1.4em;
  position: relative;
}

.s1primaryh1 {
  color: #003d5c;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 2%;
  font-family: sans-serif;
  font-size: 3em;
  grid-column: 1 / -1;
}

.s1strong {
  color: #003d5c;
  font-family: sans-serif;
  font-size: 1.22em;
}

.s1hr {
  border: 0;
  clear: both;
  display: block;
  width: 20%;
  background-color: #333;
  height: 1px;
}

.s1img {
  position: relative;
  padding-top: 1em;
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  /* clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  ); */
}

#section2 {
  display: grid;
  grid-template-rows: 10vh auto auto auto 10vh;
  grid-template-columns: 25vw 20vw 30vw 25vw;
  gap: 1em;
}

.s2pprimary {
  grid-column: 2/3;
  font-size: 1.3em;
}

.s2psecondary {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4em;
  font-size: 1.2em;
  grid-column: 3/4;
}

#uiuc {
  grid-row: 2/3;
}

#cod {
  grid-row: 3/4;
}

#whns {
  grid-row: 4/5;
}

#uiuctext {
  grid-row: 2/3;
}

#codtext {
  grid-row: 3/4;
}

#wnhstext {
  grid-row: 4/5;
}

#section3 {
  display: grid;
  grid-template-rows: 8vh auto auto auto 10vh;
  grid-template-columns: 25vw 20vw 30vw 25vw;
  gap: 1em;
}

.s3pprimary {
  grid-column: 2/3;
  font-size: 1.3em;
}

.s3psecondary {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4em;
  font-size: 1.15em;
  grid-column: 3/4;
}

.s3strongprimary {
  line-height: 2em;
  color: #003d5c;
  font-family: sans-serif;
  font-size: 1.22em;
}

.s3strongsecondary {
  font-size: 1.2em;
  line-height: 2em;
}

#vigtory {
  grid-row: 2/3;
}

#ecolab {
  grid-row: 3/4;
}

#labaide {
  grid-row: 4/5;
}

#section4 {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh auto;
  gap: 1em;
}

.autofillgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(380px, 1fr));
  grid-column: 2/-2;
  align-items: flex-start;
  justify-items: center;
}

.s4figurelong {
  width: 280px;
  height: 380px;
  background-position-x: center;
  overflow: hidden;
  position: relative;
}

.s4figureshort {
  width: 280px;
  height: 180px;
  background-position-x: center;
  overflow: hidden;
  position: relative;
}

figcaption {
  background: rgba(242, 235, 191, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
  height: 100%;
  width: 100%;
  opacity: 0;
}

figcaption:hover {
  opacity: 1;
}

.s4imglong {
  width: 280px;
  height: 380px;
  object-fit: cover;
  object-position: top;
}

.s4imgshort {
  width: 280px;
  height: 180px;
  object-fit: cover;
  object-position: top;
}

.s4h3 {
  text-align: center;
}

.s4p {
  padding-left: 1em;
  padding-right: 1em;
}

#memento {
  background-image: url(./MementoExample.jpg);
}

#lyricGenius {
  background-image: url(./LyricGeniusExample.jpg);
}

#iTrust {
  background-image: url(./itrustExample.jpg);
}

#thisWebsite {
  background-image: url(./websiteExample.png);
}

#githubApp {
  background-image: url(./GithubAppExample.jpg);
}

a {
  color: black;
}

a:hover {
  color: purple;
}

.s4a:hover {
  color: black;
}

@media (orientation: portrait) {
  .s0primaryh1 {
    text-align: center;
  }

  #section1 {
    grid-template-rows: 5vh auto auto 5vh;
    grid-template-columns: 15vw auto auto 15vw;
    gap: 0;
  }
  .s1img {
    grid-column: 2/4;
    grid-row: 3;
  }
  .s1p {
    grid-column: 2/4;
    grid-row: 2;
    padding-left: 0em;
    padding-right: 0em;
    font-size: 1.4em;
  }

  #section2 {
    grid-template-rows: 5vh repeat(16, 1fr) 10vh;
    grid-template-columns: 15vw auto 15vw;
    gap: 0;
  }
  .s2pprimary {
    font-size: 1.5em;
  }
  .s2psecondary {
    font-size: 1.4em;
  }
  #uiuc {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
  #uiuctext {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  #cod {
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
  }
  #codtext {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  #wnhs {
    grid-row: 6/7;
    grid-column: 2/3;
    text-align: center;
  }
  #wnhstext {
    grid-row: 7/8;
    grid-column: 2/3;
  }

  #section3 {
    grid-template-rows: 5vh repeat(16, 1fr) 10vh;
    grid-template-columns: 15vw auto 15vw;
    gap: 0;
  }
  .s3pprimary {
    font-size: 1.5em;
  }
  .s3psecondary {
    font-size: 1.4em;
  }

  .s3strongprimary {
    line-height: normal;
  }

  #vigtory {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }

  #vigtorytext {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  #ecolab {
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
  }
  #ecolabtext {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  #labaide {
    grid-row: 6/7;
    grid-column: 2/3;
    text-align: center;
  }
  #labaidetext {
    grid-row: 7/8;
    grid-column: 2/3;
  }

  #section4 {
    grid-template-rows: 5vh auto;
    grid-template-columns: 15vw auto 15vw;
  }
}

@media (max-width: 1890px) and (orientation: landscape) {
  #section1 {
    grid-template-columns: 20vw 30vw 30vw 20vw;
  }

  #section2 {
    grid-template-columns: 20vw 25vw 35vw 20vw;
  }

  #section3 {
    grid-template-columns: 20vw 25vw 35vw 20vw;
  }

  #section4 {
    grid-template-columns: 20vw 30vw 30vw 20vw;
  }
}

@media (max-width: 1575px) and (orientation: landscape) {
  #section1 {
    grid-template-columns: 15vw 35vw 35vw 15vw;
  }

  #section2 {
    grid-template-columns: 15vw 28vw 42vw 15vw;
  }

  #section3 {
    grid-template-columns: 15vw 28vw 42vw 15vw;
  }

  #section4 {
    grid-template-columns: 15vw 35vw 35vw 15vw;
  }
}

@media (max-width: 1350px) and (orientation: landscape) {
  #section1 {
    grid-template-columns: 15vw auto auto 0vw;
  }

  #section2 {
    grid-template-columns: 15vw 30vw auto 0vw;
  }

  #section3 {
    grid-template-columns: 15vw 30vw auto 0vw;
  }

  #section4 {
    grid-template-columns: 15vw auto auto 0vw;
  }
}

@media (max-width: 1170px) and (orientation: landscape) {
  .autofillgrid {
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(254px, 1fr));
  }

  .s4figurelong {
    width: 185px;
    height: 254px;
  }

  .s4figureshort {
    width: 185px;
    height: 120px;
  }

  .s4imglong {
    width: 185px;
    height: 254px;
  }

  .s4imgshort {
    width: 185px;
    height: 120px;
  }

  .s4p {
    font-size: 0.8em;
  }

  .s4h3 {
    font-size: 0em;
  }
}
