#section0 {
  display: grid;
  background-size: cover;
  background-image: url(./background-3045402_1920_flipped.png);
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: auto;
}

.s0primaryh1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5em;
  grid-row-start: 3;
  position: relative;
}

.s0whiteboxdiv {
  grid-row-start: 4;
  background-color: #fff;
  width: initial;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 15px #444;
}

.s0secondaryh1 {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  grid-row: 5;
  color: #333;
  padding-bottom: 4%;
}

.s0hr {
  border: 0;
  clear: both;
  display: block;
  width: 70%;
  background-color: #333;
  height: 1px;
  grid-row: 4;
}

#section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.s1p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  grid-row: 2;
  grid-column: 2/3;
  padding-right: 2em;
  line-height: 1.4em;
  position: relative;
}

.s1primaryh1 {
  color: #003d5c;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 2%;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  grid-column: 1 / -1;
}

.s1strong {
  color: #003d5c;
  font-family: sans-serif;
  font-size: 1.22em;
}

.s1hr {
  border: 0;
  clear: both;
  display: block;
  width: 20%;
  background-color: #333;
  height: 1px;
}

.s1img {
  position: relative;
  padding-top: 1em;
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

#section2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 25vw 20vw 30vw 25vw;
  gap: 1em;
}

.s2pprimary {
  grid-column: 2/3;
  font-size: 1.3em;
}

.s2psecondary {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4em;
  font-size: 1.2em;
  grid-column: 3/4;
}

#uiuc {
  grid-row: 2/3;
}

#cod {
  grid-row: 3/4;
}

#whns {
  grid-row: 4/5;
}

#uiuctext {
  grid-row: 2/3;
}

#codtext {
  grid-row: 3/4;
}

#wnhstext {
  grid-row: 4/5;
}

@media (orientation: portrait) {
  .s0primaryh1 {
    text-align: center;
  }

  #section1 {
    grid-template-rows: 10vh auto auto 10vh;
    grid-template-columns: 15vw auto auto 15vw;
  }
  .s1img {
    grid-column: 2/4;
    grid-row: 3;
  }
  .s1p {
    grid-column: 2/4;
    grid-row: 2;
    padding-left: 0em;
    padding-right: 0em;
  }

  #section2 {
    grid-template-rows: 8vh repeat(16, 1fr) 10vh;
    grid-template-columns: 15vw auto 10vw;
    gap: 0;
  }
  .s2pprimary {
    font-size: 1.5em;
  }
  .s2psecondary {
    font-size: 1.4em;
  }
  #uiuc {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
  #uiuctext {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  #cod {
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
  }
  #codtext {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  #wnhs {
    grid-row: 6/7;
    grid-column: 2/3;
    text-align: center;
  }
  #wnhstext {
    grid-row: 7/8;
    grid-column: 2/3;
  }
}
