@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("../fonts/LobsterTwo-Regular.ttf");
  font-display: swap;
}

body {
  margin: 0;
  background-color: #060c10;
}
